@media screen and (max-width: 767px) {
.hero.section {
    width: 767px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:  var(--hero-address-color);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/link/tadam/img.jpg);
    background-size: cover;
  }


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
.section-overlay {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero/hero-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .hero-title {
    @include font (26px, 900, 42px);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: var(--title-text-color);
  }
  
  .button.primary {
    @include font (16px, 700, 30px);
    letter-spacing: 0.06em;
    background-color: var(--address-color);
    border: none;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    border-radius: 4px;
    color: var(--title-text-color);
    transition: color var(--transition-dur-and-func);
  
  
  &:hover,
  &:focus {
    background-color: var(--button-color);
    transition: background-color var(--transition-dur-and-func);
    }
   }
  }
}

@media screen and (min-width: 768px) {
  .hero.section {
    width: 767px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:  var(--hero-address-color);
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/link/tadam/img.jpg);
    background-size: cover;
  }


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
.section-overlay {
    height: 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero/hero-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .hero-title {
    @include font (26px, 900, 42px);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    color: var(--title-text-color);
  }
  
  .button.primary {
    @include font (16px, 700, 30px);
    letter-spacing: 0.06em;
    background-color: var(--address-color);
    border: none;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    border-radius: 4px;
    color: var(--title-text-color);
    transition: color var(--transition-dur-and-func);
  
  
  &:hover,
  &:focus {
    background-color: var(--button-color);
    transition: background-color var(--transition-dur-and-func);
    }
   }
  }
}

@media screen and (min-width: 1200px) {
  .hero.section {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:  var(--hero-address-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/link/tadam/img.jpg);
    background-size: cover;
  }


@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
.section-overlay {
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/hero/hero-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .hero-title {
   @include font (44px, 900, 60px);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--title-text-color);
  }
  
  .button.primary {
    @include font (16px, 700, 30px);
    letter-spacing: 0.06em;
    background-color: var(--address-color);
    border: none;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    border-radius: 4px;
    color: var(--title-text-color);
    transition: color var(--transition-dur-and-func);
  
  
  &:hover,
  &:focus {
    background-color: var(--button-color);
    transition: background-color var(--transition-dur-and-func);
    }
   }
  }
}




/*.hero.section {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:  var(--hero-address-color);
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/link/tadam/img.jpg);
    background-size: cover;
  }
  
  .hero-title {
    @include font (44px, 900, 60px);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    color: var(--title-text-color);
  }
  
  .button.primary {
    @include font (16px, 700, 30px);
    letter-spacing: 0.06em;
    background-color: var(--address-color);
    border: none;
    padding: 10px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 30px;
    border-radius: 4px;
    color: var(--title-text-color);
    transition: color var(--transition-dur-and-func);
  
  
  &:hover,
  &:focus {
    background-color: var(--button-color);
    transition: background-color var(--transition-dur-and-func);
   }
 }*/