.section__list {
  list-style: none;
}

.image__list {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 30px;
  }
  
  .image__icon {
    @extend %align;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: var(--image-color);
  }
  
  .section__image {
    width: 70px;
    height: 70px;
  }
  
  .section-title.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .text__container {
    width: 270px;
  }
  
  .section__list {
    display: flex;
    column-gap: 30px;
  }
  
  .section-list__title {
    @include font (14px, 700, 16px);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    margin-right: 30px;
    color: var(--text-color);
  }
  
  .section__text{
    @include font (14px, 400, 24px);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
    margin-left: auto;
    color: var(--menu-site-color);
  }