:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --title-color: #F5F5F5;
    --image-color:#F5F4FA;
    --secondary-title-color: #000000;
    --accent-color: #ff7f50;
    --menu-site-color: #757575;
    --hero-address-color: #2F303A;
    --mail-links-color: rgba(255, 255, 255, 0.6);
    --title-text-color: #FFFFFF;
    --text-color: #212121;
    --address-color: #2196F3;
    --button-color: rgb(130, 187, 245);
    --overlay-color: rgba(33, 150, 243, 0.9);
    --border-color: #ECECEC;
    --second-border-color: #EEEEEE;
    --button-list-color: #F5F4FA;
    --social-list-color: #AFB1B8;
    --applications-color: rgba(47, 48, 58, 0.8);
    --address-list-color: rgba(255, 255, 255, 0.1);
    --backdrop-color: rgba(0, 0, 0, 0.5);
    --modal-border-color: #303030;
    --form-color: rgba(0, 0, 0, 0.15);
    --form-border-color: rgba(255, 255, 255, 0.3);
    --form-icon-color: #188CE8;
    --modal-close-color: rgba(0, 0, 0, 0.1);
    --modal-form-color: rgba(33, 33, 33, 0.2);
    --modal-placeholder-color: rgba(117, 117, 117, 0.5);
    --transition-dur-and-func: 250ms linear;
  }
